<div>
    <span>
        <h3>
            <span>
                <a style="color: black;" href="/" >Home</a> /
                <a style="color: black;" href="/about" >About</a> / 
                <a style="color: black;" href="/experience" >My Resume</a> /
                <a style="color: black;" href="/logout" >Logout</a>
            </span>
        </h3>
    </span>
</div>
